.samForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 30px;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
    padding: 20px 30px;
    transition: 0.3s;
    margin:0 auto;
    display: flex;
    background-size:cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper h2 {
    color: #fff;
}

.devID{
    margin: 0 auto;
    width: 80%;
}
.uname{
    margin: 0 auto;
    width: 80%;
}
.pswd{
    margin: 0 auto;
    width: 80%;
}
.dirRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
}
.dirChar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}