.card{
    display:flex;
    flex-direction: row;
    margin: 5px;
    height: 60px;
    border-radius: 5px;
    justify-content: flex-start;
}
.folder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}
.content{
    flex: 1;
    cursor: pointer;
}
.seperator{
  height: 100%;
  width: 1px;
  background: black;
}
.icon{
    font-size: 30px
}
.fileDwBtn{
    float: right;
}
.fileUp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cb{
    cursor: auto;
}

